@font-face {
    font-family: DefaultFont;
    src: url(DefaultFont.otf);
  }


.background {
    background-color: black;
    width: 430px;
    height: 650px;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
}

.button-group {
    padding-bottom: 5px;
}

.button-group button{
    cursor: pointer;
    border: 2px solid black;
    height: 100px;
    font-family: myFirstFont;
    font-size: 50px;
    border-radius: 100px;
    outline: none;
    transition: .5s;
}

.calculations {
    height: 80px;
    text-align: right;
    padding-right: 20px;
    padding-top: 0px;
    color: white;
    font-family: myFirstFont;
    font-size: 35px;
}

.quarter {
    width: 100px;
}

.half {
    width: 200px;
}

.threequarter {
    width: 300px;
}

.number {
    background-color: rgb(212, 211, 211);
}

.number:hover {
    background-color: rgba(212, 211, 211, 0.7);
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.24), 0 15px 40px 0 rgba(0,0,0,0.19);
}

.expression {
    background-color: orange;
    color: white;
}

.expression:hover {
    background-color: rgba(255, 166, 0, 0.7);
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.24), 0 15px 40px 0 rgba(0,0,0,0.19);
}